<template>
  <v-col class="d-flex pa-0" cols="12" sm="6">
    <v-select
      @change="ChangeCategory"
      :items="translateItems"
      :clearable="true"
      :value="defaultCategory"
      solo
    >
      <template v-slot:selection="{ item }">
        <label>{{ $t("SelectLabelBeginning") }} : {{ item.text }}</label>
      </template>
    </v-select>
  </v-col>
</template>

<script lang="ts">
import Vue from "vue";
import { TranslateResult } from "vue-i18n";

export default Vue.extend({
  name: "CategorySelect",
  props: { CategoriesName: Array },
  data() {
    return {
      defaultCategory: "Payment processor",
    };
  },
  methods: {
    ChangeCategory(NewCategory: string) {
      this.defaultCategory = NewCategory;
      this.$emit("change", NewCategory);
    },
  },
  computed: {
    translateItems() {
      const CategorieNameTranslated: Array<any> = [];
      this.CategoriesName.forEach((element) => {
        CategorieNameTranslated.push({
          text: this.$t(`category.${element}`) as TranslateResult,
          value: element as string,
        });
      });
      return CategorieNameTranslated;
    },
    translatedefaultCategory() {
      const defaultCategory: TranslateResult = this.$t(
        `category.${this.defaultCategory}`
      ) as TranslateResult;
      return defaultCategory;
    },
  },
});
</script>
