<template>
  <div>
    <div v-if="isMobile" class="Icons-link">
      <v-btn
        :href="`https://docs.google.com/spreadsheets/d/${getGdocId()}/`"
        target="_blank"
        icon
      >
        <v-icon>mdi-pencil</v-icon>
      </v-btn>
      <v-btn
        href="https://gitlab.com/botcrypto/awesome-crypto-friendly-services"
        target="_blank"
        icon
      >
        <v-icon>mdi-gitlab</v-icon>
      </v-btn>
    </div>
    <div v-else>
      <v-btn
        :href="`https://docs.google.com/spreadsheets/d/${getGdocId()}/`"
        target="_blank"
        text
      >
        <span class="mr-2">{{ $t("HeaderSuggestChange") }}</span>

        <v-icon>mdi-pencil</v-icon>
      </v-btn>
      <v-btn
        href="https://gitlab.com/botcrypto/awesome-crypto-friendly-services"
        target="_blank"
        text
      >
        <span class="mr-2">{{ $t("HeaderModifySource") }}</span>
        <v-icon>mdi-gitlab</v-icon>
      </v-btn>
    </div>
  </div>
</template>

<script>
export default {
  methods: {
    getGdocId() {
      return process.env.VUE_APP_G_DOC_ID;
    },
  },
  computed: {
    isMobile() {
      return this.$vuetify.breakpoint.xsOnly;
    },
  },
};
</script>

<style scoped>
.Icons-link {
  display: flex;
}
</style>
