<template>
  <v-app-bar app color="primary" dark>
    <div class="d-flex align-center">
      <v-toolbar-title class="title">Crypto Friendly Services</v-toolbar-title>
    </div>

    <v-spacer></v-spacer>
    <ExternalLink />
    <LangSelect />
  </v-app-bar>
</template>

<script lang="ts">
import Vue from "vue";
import LangSelect from "./LangSelect.vue";
import ExternalLink from "./ExternalLinks.vue";

export default Vue.extend({
  name: "Header",
  components: { LangSelect, ExternalLink },
});
</script>

<style scoped>
@media (max-width: 600px) {
  .title {
    font-size:1rem !important;
  }
}
</style>
