<template>
  <div id="LangSelect" class="ml-4">
    <v-select v-model="lang" @change="ChangeLanguage" :items="LangAvailable" dense outlined></v-select>
  </div>
</template>

<script lang="ts">
import Vue from "vue";
import i18n from "../translations/i18n";

export default Vue.extend({
  name: "LangSelect",
  data: () => ({
    lang: localStorage.getItem("lang") || "en",
    LangAvailable: [{ text: "EN", value: "en" }, { text: "FR", value: "fr" }],
  }),
  methods: {
    ChangeLanguage(NewLang: string) {
      localStorage.setItem("lang", NewLang);
      i18n.locale = NewLang;
      this.$vuetify.lang.current = NewLang;
    },
  },
});
</script>

<style scoped>
#LangSelect {
  margin-right: 1px;
  max-width: 100px;
  margin-top: 25px;
}
</style>
