<template>
  <div>
    <div id="signature">
      <a href="https://botcrypto.io/?pk_campaign=cfs&pk_kwd=logo&pk_source=link&pk_medium=side" class="center" target="_blank">
        <v-img
          id="logo"
          alt="Logo"
          class="shrink"
          contain
          src="../../public/assets/logo_color_side.png"
        />
      </a>
      <a href="https://botcrypto.io/?pk_campaign=cfs&pk_kwd=logo-text&pk_source=link&pk_medium=side" class="center mt-5" target="_blank">
        {{ $t('BotcryptoPunchline') }}
      </a>
      <v-btn color="primary" elevation="8" rounded x-large href="mailto:hello@crypto-friendly.services" class="center mt-5">
        {{ $t('contact') }}
      </v-btn>
    </div>
  </div>
</template>
<script lang="ts">
import Vue from "vue";

export default Vue.extend({});
</script>

<style scoped>
#logo {
  max-width: 400px;
}

@media (max-width: 600px) {
  #logo {
  max-width: 300px;
}
}

.center {
  margin: auto;
}

#signature {
  display: flex;
  flex-direction: column;
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
}
</style>