<template>
  <div>
    <h1 class="text-center">{{ $t('Title') }}</h1>
    <br>
    <p v-html="$t('Description', { servicesTotal: totalServicesCount} )"></p>
    <br>
    <br>
    <CategorySelect @change="ChangeCategory" :CategoriesName="GetCategoriesName" />
    <ServicesList :headers="GetHeaders" :items="GetFilteredData" />
  </div>
</template>

<script lang="ts">
import Vue from "vue";
import CategorySelect from "./CategorySelect.vue";
import ServicesList from "./ServicesList.vue";
import JsonData from "../data/data.json";

interface DataObject {
  Name: string;
  Category: string;
  Cryptocurrency: string;
  CryptocurrencyTrading: string;
  ICO: string;
}
interface HeaderInterface {
  text: string;
  value: string;
  align: string | undefined;
  sortable: boolean;
}

export default Vue.extend({
  name: "ServicesDisplayApp",
  components: {
    CategorySelect,
    ServicesList,
  },
  data() {
    return { category: "Payment processor" };
  },
  computed: {
    totalServicesCount: function (){
      return JsonData.length
    },
    GetCategoriesName: function () {
      // make an array with all uniques categories inside the data
      return [...new Set(JsonData.map((element) => element.Category))];
    },
    GetHeaders: function () {
      // make an array with all headers inside the data
      let HeadersData: Array<string> = [];
      JsonData.forEach((element) => {
        if (element.Category === this.category) {
          // collect headers of each element
          Object.keys(element).forEach((header) => {
            HeadersData.push(header);
          });
        }
      });
      // Remove duplicates
      HeadersData = [...new Set(HeadersData)];
      HeadersData = HeadersData.filter(
        (e) => !(e === "Category" || e === "Extract" || e === "ExtractLink")
      );

      const HeadersArray: Array<HeaderInterface> = [];
      HeadersData.forEach(function (header, index) {
        HeadersArray.push({
          text: header,
          value: header,
          align: "start",
          sortable: index !== 0,
        });
      });
      HeadersArray.push({
        text: "",
        value: "data-table-expand",
        align: undefined,
        sortable: false,
      });
      return HeadersArray;
    },
    GetFilteredData: function () {
      const FilteredData: Array<DataObject> = JsonData.filter(
        (e) => e.Category === this.category
      );
      return FilteredData;
    },
  },
  methods: {
    ChangeCategory(NewCategory: string) {
      this.category = NewCategory;
    },
  },
});
</script>
