<template>
  <div>
    <v-data-table
      :headers="translateHeaders"
      :items="itemsSorted"
      item-key="Name"
      show-expand
      :expanded.sync="expanded"
      :items-per-page="10"
      :no-data-text="$t('ServiceListNoDataText')"
      class="elevation-1"
    >
      <template v-slot:item="{ item, expand, isExpanded }">
        <tr class>
          <td class="text-start">{{ item.Name }}</td>

          <ToolTipData :item="item.Cryptocurrency" />
          <ToolTipData :item="item.CryptocurrencyTrading" />
          <ToolTipData :item="item.ICO" />

          <td>
            <v-btn v-if="isExpanded" text @click="expand(!isExpanded)">
              {{
              $t("Close")
              }}
            </v-btn>
            <v-btn v-else text @click="expand(!isExpanded)">
              {{
              $t("More")
              }}
            </v-btn>
          </td>
        </tr>
      </template>
      <template v-slot:expanded-item="{ headers, item }">
        <td v-if="item.Extract" :colspan="headers.length" class="expanded-item">
          <i>{{ item.Extract }}</i>
          &nbsp;
          <a v-if="item.ExtractLink" :href="`${item.ExtractLink}`" target="_blank">[source]</a>
        </td>
        <td v-else :colspan="headers.length" class="expanded-item">
          {{ $t("noData") }}.
          <a
            :href="`https://docs.google.com/spreadsheets/d/${getGdocId()}/`"
            target="_blank"
          >[{{ $t("HeaderSuggestChange").toLowerCase() }}]</a>
        </td>
      </template>
    </v-data-table>
    <div class="legend">✅ {{$t('legend.good')}} ❌ {{$t('legend.nope')}} ⏳ {{$t('legend.approval')}} 🤔 {{$t('legend.dont-know')}}</div>
  </div>
</template>

<script lang="ts">
import Vue from "vue";
import ToolTipData from "./ToolTipData.vue";
import { TranslateResult } from "vue-i18n";

interface HeaderInterface {
  text: string | TranslateResult;
  value: string;
  align: string | undefined;
  sortable: boolean;
}

interface ItemInterface {
  Category: string;
  Cryptocurrency: string;
  CryptocurrencyTrading: string;
  Extract: string;
  ExtractLink: string;
  ICO: string;
  Name: string;
  score: number;
}

const getScore = (value: string) => {
  switch(value) {
    case "✅": return 2;
    case "❌": return 0;
    case "⏳": return 1;
    case "🤔": return 0;
    default: return 0;
  }
}

const calculateScore = (item: ItemInterface) => {
  let score = 0;

  item.Cryptocurrency && (score += getScore(item.Cryptocurrency));
  item.CryptocurrencyTrading && (score += getScore(item.CryptocurrencyTrading));
  item.ICO && (score += getScore(item.ICO));

  return score;
}

export default Vue.extend({
  name: "ServicesList",
  components: { ToolTipData },
  props: {
    headers: Array,
    items: Array,
  },
  data: () => ({ expanded: [] }),
  methods: {
    getGdocId() {
      return process.env.VUE_APP_G_DOC_ID;
    },
  },
  computed: {
    translateHeaders() {
      const HeadersTranslated: Array<HeaderInterface> = [];
      (this.headers as Array<HeaderInterface>).forEach((element) => {
        (element as HeaderInterface).text = (this as any).$t(
          `services.${(element as HeaderInterface).value}`
        ) as TranslateResult;
        HeadersTranslated.push(element as HeaderInterface);
      });
      return HeadersTranslated;
    },
    itemsSorted() {
      const itemsScored = (this.items as Array<ItemInterface>).map((item: ItemInterface) => ({ ...item, score: calculateScore(item) }));
      const itemsSorted = itemsScored.sort((a, b) => b.score - a.score);
      return itemsSorted;
    }
  },
});
</script>

<style scoped>
.legend {
  color: gray;
  font-size: 12px;
  text-align: right;
  margin-top: 2px;
}

.expanded-item {
  padding: 10px;
}
</style>
