<template>
  <v-tooltip :open-delay="TooltipOpenDelay" left>
    <template v-slot:activator="{ on, attrs }">
      <td v-bind="attrs" class="text-start" v-on="on">{{item}}</td>
    </template>
    <span v-if="item === '🤔'">{{$t('legend.dont-know')}}</span>
    <span v-else-if="item === '❌'">{{$t('legend.nope')}}</span>
    <span v-else-if="item === '⏳'">{{$t('legend.approval')}}</span>
    <span v-else>{{$t('legend.good')}}</span>
  </v-tooltip>
</template>
<script lang="ts">
import Vue from "vue";

export default Vue.extend({
  props: ["item"],
  data: () => ({ TooltipOpenDelay: 500 }),
});
</script>