<template>
  <v-app>
    <v-main>
      <v-container fluid >
        <v-layout >
          <Header />
          <div id="Main">
            <ServicesDisplayApp />
            <Presentation />
          </div>
        </v-layout>
      </v-container>
    </v-main>
  </v-app>
</template>

<script lang="ts">
import Vue from "vue";
import Header from "./components/Header.vue";
import Presentation from "./components/Presentation.vue";
import ServicesDisplayApp from "./components/ServicesDisplayApp.vue";

export default Vue.extend({
  name: "App",

  components: {
    Header,
    ServicesDisplayApp,
    Presentation,
  },
});
</script>

<style scoped>
@media (min-width: 600px) {
  #Main {
    padding-left: 200px;
    padding-right: 200px;
  }
}

#Main {
  padding-top: 20px;
}
</style>
